body {
  font-family: Arial, sans-serif;
  background-color: rgb(190,214,197);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow-y: auto;  
}

.quiz-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  max-height: 80vh; 
  overflow-y: auto; 
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.hidden {
  display: none;
}

#options-container {
  margin: 20px 0;
}

.option {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}



.correct {
  
  color: green;
}

.incorrect {
  color: red;
}

.selected {
  background-color: gray; 
}

#score {
  font-size: 24px;
  font-weight: bold;
  color: green;
  margin-top: 20px;
}

#question-progress {
  margin-top: 20px;
}

#question-container {
  margin-bottom: 20px;
}

#result-container {
  text-align: left;
}

#answer-summary {
  margin-top: 20px;
}

.question-result {
  margin-bottom: 15px;
}

.question-result span {
  font-weight: bold;
}

.question-result .correct {
  color: green;
}

.question-result .incorrect {
  color: red;
}
